<div class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container">
    <a href="#" class="navbar-brand d-flex align-items-center">Bookers</a>
    <nav class="navbar navbar-expand-sm navbar-light">
    <a href="#" class="navbar-brand d-flex align-items-center">home</a>
    <a href="#" class="navbar-brand d-flex align-items-center">about</a>
    <a href="#" class="navbar-brand d-flex align-items-center">sign_up</a>
    <a href="#" class="navbar-brand d-flex align-items-center">login</a>
    </nav>
  </div>
</div>

