<!--コメント一覧-->
<table class="book_comments">
  <% book_comments.each do |book_comment| %>
    <%= tag.tr(render('books/books_form/comment_form', user: user, book_comment: book_comment), class: "book_comment#{book_comment.id}") %>
  <% end %>
</table>