<table class = "table table-bordered">
  <tr>
    <th>6日前</th>
    <th>5日前</th>
    <th>4日前</th>
    <th>3日前</th>
    <th>2日前</th>
    <th>1日前</th>
    <th>今日</th>
  </tr>
  <tr>
    <% 7.times do |i| %>
      <% n = 6 - i %>
      <% from_day = n.day.ago.in_time_zone("Tokyo").beginning_of_day %>
      <% end_day = n.day.ago.in_time_zone("Tokyo").end_of_day %>
      <% one_day_posts = Book.where(created_at: from_day..end_day).count %>
      <td><%= one_day_posts %></td>
    <% end %>
  </tr>
</table>