<% day = Array.new %>
<% 6.times{|num| day << ((7-num).to_s + "日前") } %>
<% day << "今日" %>

<table class = "table table-bordered">
  <tr>
    <% day.each do |d| %>
      <th><%= d %></th>
    <% end %>
  </tr>
  <tr>
    <% one_day_posts = Array.new %>
    <% 7.times do |i| %>
      <% n = 6 - i %>
      <% from_day = n.day.ago.in_time_zone("Tokyo").beginning_of_day %>
      <% end_day = n.day.ago.in_time_zone("Tokyo").end_of_day %>
      <% one_day_post = Book.where(created_at: from_day..end_day).count %>
      <td><%= one_day_post %></td>
      
      <% one_day_posts << one_day_post %>
    <% end %>
  </tr>
</table>

<canvas id="myChart" width="900" height="400"></canvas>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: <%= day.to_json.html_safe %>,
        datasets: [{
            label: "7日間の投稿数の比較",
            data: <%= one_day_posts.to_json.html_safe %>,
            backgroundColor: 'rgba(255, 99, 132, 1.0)',
            borderColor: 'rgba(255, 50, 132, 1.0)',
            fill: false
        }]
    },
    options: {
        title:  {
          display: true,
          text: "タイトル"
        },
        scales: {
          yAxes:[{
            ticks: {
              beginAtZero: true, //開始値を0
              min: 0, //最小値
              stepSize: 1
            }
          }]
          
        }
    }
});
</script>